{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

<div class="row mt-5 pt-5">
    <div class="col-8 mx-auto">
        <h1>
            Couleurs
        </h1>
    </div>
</div>

<div class="row p-3 justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-10 m-3 p-3 order-md-5 order-lg-5 text-justify">
        <h2>Bibliothèque d'icones</h2>
        <em>Choisissez ici l'icone que vous voulez associer au label que vous créez.</em>

        <div class="row">

            {% for icon in icons %}
            <div class="col-md-3">
                {{ icon.nom }}
                {{icon.code | raw }}
            </div>
            {% endfor %}

        </div>
    </div>




    <div class="col-lg-6 col-md-8 col-sm-10 rounded m-3 p-3 order-md-0 order-lg-0 ">
        <div class="row m-3 p-3">
            <div class="col-12 alert-info border border-info rounded p-3">
                <center>
                    <p>
                        Ici, vous pouvez ajouter des labels et leurs icones. (5 maximum)
                    </p>
                </center>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-12 alert-info border border-info rounded">

                {{ form_start(LabelsForm) }}


                    {# <div style="display: none;"> #}
                        {# {{ form_label(LabelsForm.nom) }}
                        {{ form_widget(LabelsForm.nom) }}
                        {{ form_label(LabelsForm.nom) }}
                        {{ form_widget(LabelsForm.nom) }} #}
                    {# </div> #}

                    {{ form_row(LabelsForm.submit, {'attr': {'class': 'col-12 btn btn-outline-success'} } ) }}

                    {{ form_end(LabelsForm) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}