{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center">Connexion au panneau administrateur.</h1>

<form method="post" class="col-md-4 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e) sous l'identifiant {{ app.user.username }}, <b><a href="{{ path('app_logout') }}">se déconnecter</a></b>
        </div>

    {% else %}
    <h1 class="h3 mb-3 font-weight-normal my-3">Merci de vous connecter</h1>
    <div class="my-3">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div class="my-3">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="my-3">
        <button class="btn btn-lg btn-outline-primary" type="submit">
            Se connecter
        </button>
    </div>
    {% endif %}
</form>
{% endblock %}
