{% extends 'base.html.twig' %}

{% block content %}
{# Section DESKTOP #}
    <section class="mainbox text-center bg2 display-none-small">

        <div class="row">
            <div class="col-10 mx-auto text-center mt-5">
                <h1>Nos réalisations</h1>
            </div>
        </div>

        <div class="row justify-content-center my-5 pb-5">

            {# On génère ici une boucle pour afficher les photos des réalisations présentes dans la BDD#}
            {% for galerie in galeries %}
                {% set modal = 'modal' %}
                {# La partie modale permet l'affichage en grand sur l'écran de la photo sur laquelle on a cliqué #}
                <div class="col-md-4">
                    {% for picture in galerie.pictures | slice (0,1) %}
                        <div class="">
                            <img class="image_fakstagram" data-toggle="modal" data-target="#{{ modal ~ galerie.id }}" src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="">
                            <br><div class="mt-4 text-cadre">
                                {{galerie.nom}}</div>
                        </div>
                    {% endfor %}


                    {# L'appel de la modal est dynamique, ce qui permet que tous les éléments correspondent entre eux : ID, description #}
                    <div class="modal fade" id="{{ modal ~ galerie.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div
                                class="modal-content">
                                {# <div class="row">
                                                                                                    <div class="col-10 mx-auto text-dark alert-secondary rounded p-3">
                                                                                                        {% if galerie.description is not null  %}
                                                                                                            {{galerie.description | raw}}
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                </div>
                                                                
                                                                
                                                                                                <div class="row justify-content-around align-items-center align-self-center">
                                                                                                    {% for picture in galerie.pictures %}
                                                                                                        <div class="col-10 col-md-5 m-3 ">
                                                                                                            <img class="img-fluid" data-toggle="modal" data-target="#{{ modal ~ galerie.id }}" src="{{ vich_uploader_asset(picture, 'imageFile')}}" alt="">
                                                                
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                
                                                                                                </div> #}


                                <div id="carousel{{galerie.id}}" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner justify-content-center">
                                        {% for key, picture in galerie.pictures %}
                                            {% if key == 0 %}
                                                <div class="carousel-item active" data-key="{{ key }}">
                                                    <img class="d-block" data-toggle="modal" data-target="#{{ modal ~ galerie.id }}" src="{{ vich_uploader_asset(picture, 'imageFile')}}" alt="">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>First slide label</h5>
                                                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="carousel-item" data-key="{{ key }}">
                                                    <img class="d-block " data-toggle="modal" data-target="#{{ modal ~ galerie.id }}" src="{{ vich_uploader_asset(picture, 'imageFile')}}" alt="">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel{{galerie.id}}" role="button" data-slide="prev" onclick="$('#carousel{{galerie.id}}').carousel('prev')">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel{{galerie.id}}" role="button" data-slide="next" onclick="$('#carousel{{galerie.id}}').carousel('next')">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
    </div>

    </section>


{# Section Mobile #}
    <section class="display-none-large bg2">
    <div class="row py-5">
    <div class="col-10 my-5 mx-auto text-center">
    <h2> Cette section est indisponible sur les mobiles
    </h2>
    <a class="btn my-3" href={{path('index')}}> Retourner à l'accueil </a>
    </div>
    </div>
    </section>
{% endblock %}
