{% extends 'base.html.twig' %}

{% block content %}
<section class="mt-5 mb-5 text-center">
    <div class="row justify-content-center">

        {% for photo in photos %} 
        {% set modal = 'modal' %}
        <div class="col-md-3">
            <!-- On utilise une variable "modal" dans "data-target" pour pouvoir la concaténer avec l'id de la photo en dynamique et ensuite faire la même chose dans l'id de la modal qui sert de cible pour afficher la bonne photo. On crée la variable directemennt dans twig (ligne 8) parce qu'on n'a pas besoin de la rendre dynamique dans le controller. -->
            <img class="img-thumbnail" data-toggle="modal" data-target="#{{ modal ~ photo.id }}" src="{{ asset('/photo/' ~ photo.photo) }}" alt="{{ photo.description }}">


            <div class="modal fade" id="{{ modal ~ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <img src="{{ asset('/photo/' ~ photo.photo) }}" class="img-fluid" />
                        <div class="text-modal"> {{ photo.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        

    </div>

</section>
{% endblock %}