<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
        http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- BOOTSTRAP -->
        <link
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- FONT-AWESOME -->
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="{{asset('/css/adminstyle.css')}}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $("document").ready(() => {
                $("#jsflash").delay(1500).animate({
                    opacity: 100
                }, 1500, () => {
                    $("#jsflash").css('display', 'none');
                });
            });
        </script>
         <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            $(document).ready(function () {
                bsCustomFileInput.init()
            })
        </script>

        <title>
            Espace Admin - Electricien
        </title>
    </head>

    <body>
        <div class="container-fluid">


            <nav class="navbar navbar-expand-lg navbar-light alert-info sticky-top justify-content-around">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNavDropdown">
                    <ul class="navbar-nav justify-content-between">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('admin')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gérer les informations
                            </a>
                            <div class="dropdown-menu alert-info" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{path('histoireentreprise')}}">Histoire de l'entreprise</a>
                                <a class="dropdown-item" href="{{path('partenaires')}}">Partenaires</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('gestiongaleries')}}">
                                Galeries photos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('tarifs-admin')}}">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('horaires-admin')}}">Horaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('entreprise')}}">
                                Entreprise
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('index')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" target="blank">
                                Accèder à votre site
                            </a>
                            <div class="dropdown-menu alert-info" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{path('index')}}" target="blank">Index</a>
                                <a class="dropdown-item" href="{{path('realisations')}}" target="blank">Galerie des
                                                                    réalisations
                                </a>
                                <a class="dropdown-item" href="{{path('tarifs')}}">Tarifs</a>
                                <a class="dropdown-item" href="{{path('contact')}}" target="blank">Contact
                                </a>
                            </div>
                        </li>
                        {% if is_granted ('ROLE_SUPER_ADMIN')%}
                            <li class="nav-item dropdown bg-warning rounded">
                                <a class="nav-link dropdown-toggle" href="{{path('super-admin')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" target="blank">
                                    Super Admin
                                </a>
                                <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{path('choix-couleur')}}" target="blank">Gestion des couleurs
                                    </a>
                                    <a class="dropdown-item" href="{{path('switch-user')}}" target="blank">
                                        Changer d'utilisateur
                                    </a>

                                </div>

                            </li>
                        {% endif %}
                    </ul>
                </div>

                <a class="nav-link btn btn-success" href="{{path('aide-support')}}">
                    Aide & Support
                </a>
                <a class="nav-link deco text-danger rounded font-weight-bold" href="{{path('app_logout')}}">
                    <i class="fas fa-sign-out-alt"></i>
                    Déconnexion</a>
            </nav>

            {% for message in app.flashes('success') %}
                {# Message de réussite d'une action  #}
                <div id="jsflash" class="alert alert-success mx-auto">
                    {{ message | raw }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                {# Message d'erreur d'une action #}
                <div id="jsflash" class="alert alert-danger m-0">
                    {{ message | raw }}
                </div>
            {% endfor %}


            {# Ici, on ajoute le contenu des vues de façon dynamique  #}
            {% block content %}{% endblock %}


            <footer>
                <div class="row justify-content-between">
                    <div class="col-8 m-2">Copyright © 2019{{entreprise.nom}}|<a href="{{path('mentions')}}" class="copyright-a">Mentions légales</a>|<a href="{{path('CGU')}}" class="copyright-a">CGU</a>
                    </div>

                    <div class="col-3 text-right m-2">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a href="{{ path('admin', {'_switch_user': '_exit'}) }}" class="btn btn-danger">Retourner au role Super Admin</a>
                        {% endif %}
                    </div>
                </div>
            </footer>

        </div>
        {% block javascript %}{% endblock %}
    </body>

</html>
