{% extends 'base.html.twig' %}

{% block content %}
{{ include('./admin/navbaradmin.html.twig') }}

<div class="row mt-4 pt-4">
    <div class="col-10 mx-auto border border-secondary rounded m-3 p-3">
        <h2>
            Entreprise
        </h2>
        <hr>
        <p>Dans cette section, il est possible de modifier les informations relatives à l'entreprise afin de pouvoir les mettre à jour de façon aisée sur le site web. Changement d'adresse, de numéro de téléphone ou de mail ne sont plus un soucis.</p>
    </div>
</div>
<div class="row m-4 justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-10 alert-warning rounded m-3 p-3 order-md-5 order-lg-5 ">
        Documentation
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 alert-secondary rounded m-3 p-3 order-md-0 order-lg-0 ">
        {{ form_start(EntrepriseForm) }}
        {{ form_row(EntrepriseForm.nom) }}
        <hr>
        {{ form_row(EntrepriseForm.nomGerant, {'label' : 'Nom du gérant'}) }}
        {{ form_row(EntrepriseForm.activite, {'label' : 'Activité'}) }}
        {{ form_row(EntrepriseForm.statut_rcs, {'label' : 'Statut RCS'}) }}
        {{ form_row(EntrepriseForm.siren , {'label' : 'SIREN'}) }}
        {{ form_row(EntrepriseForm.siret, {'label' : 'SIRET'}) }}
        <hr>
        {{ form_row(EntrepriseForm.adresse) }}
        {{ form_row(EntrepriseForm.cp, {'label' : 'Code Postal'}) }}
        {{ form_row(EntrepriseForm.ville) }}
        <hr>
        {{ form_row(EntrepriseForm.mailGerant, {'label' : 'Mail du gérant ou de la personne gérant les devis'}) }}
        {{ form_row(EntrepriseForm.mailContact) }}
        {{ form_row(EntrepriseForm.telephone , {'label' : 'Téléphone'}) }}

        {{ form_row(EntrepriseForm.submit, { 'label' : "Modifier", 'attr': {'class': 'col-12 btn btn-success'} } ) }}

        {{ form_end(EntrepriseForm) }}
    </div>
</div>

{% endblock %}