{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

<div class="row mt-4 pt-4">
    <div class="col-md-6 col-sm-8 mx-auto alert-info border border-info rounded m-3 p-3">
        <h2>
            Gestion des galeries
        </h2>
        <hr>
        <p>Dans cette section vous pourrez créer une nouvelle galerie ou modifier une galerie existante.</p>

    </div>
</div>

<div class="row m-4 justify-content-center">
    <div
        class="col-lg-4 col-md-3 col-sm-10 alert-warning border border-warning rounded m-3 p-3 order-md-5 order-lg-5 text-justify">
        <center>
            <h1>
                <i class="fas fa-info-circle"></i>
            </h1>
        </center>
        <hr>
        Cette partie vous permet de créer une nouvelle galerie en suivant le formulaire ci-dessous. Elle vous permet
        aussi de gérer les galeries existantes.
    </div>

    <div class="col-lg-6 col-md-8 col-sm-10 rounded border m-3 p-3 order-md-0 order-lg-0 text-center">
        <h1>Créer une galerie</h1>
        <hr>

        {# {% set totalGaleries2 = totalGaleries.0 %}
        {{dump (totalGaleries2.1)}} #}

        {# {% if totalGaleries2.1 < 10 %} #}

        {{ form_start(photosForm) }}
        {{ form_end(photosForm) }}


        {# {% else %} #}

        {# Vous avez atteint la limite de 10 galeries autorisées, supprimez-en une pour pouvoir en créer une nouvelle.

        {% endif %} #}
    </div>
</div>


<div class="m-4 justify-content-center">

    <h1>Gestion des galeries</h1>

    <div class="row">
        <div class="col-md-10 mx-auto text-center">
            <div class="row text-center">
                {% for galerie in galeries %}
                <div class="card col-md-2 m-3">
                    {{ galerie.nomGalerie }}
                    {{ galerie.descriptionGalerie | raw }}
                    <img class=" card-img-top" src="{{ asset('/photo/' ~ galerie.photo) }}" alt="">
                    <a class="card-footer bg-warning text-decoration-none text-light" href="{{ path('modifiergalerie', {id : galerie.id } ) }}">
                        <i class="fas fa-trash-alt mx-2"></i> Modifier la galerie
                    </a>
                    <a class="card-footer bg-danger text-decoration-none text-light"
                        href="{{ path('delete_galerie', {id : galerie.id } ) }}"
                        onclick="return confirm('Etes-vous certain(e) de vouloir supprimer la galerie ?')">
                        <i class="fas fa-trash-alt mx-2"></i> Supprimer
                    </a>
                </div>

                {% endfor %}
            </div>
            

        </div>
    </div>
</div>
</div>


{% endblock %}