{% extends 'base.html.twig' %}

{% block content %}
    {{ include('./admin/navbaradmin.html.twig') }}

    <div class="row mt-4 pt-4">
<div class="col-10 mx-auto border border-info rounded p-3"> <h2> L'histoire de l'entreprise  </h2><hr>
<p> Description </p></div>
</div>

<div class="row m-4 justify-content-center">
<div class="col-lg-4 col-md-3 col-sm-10 alert-warning m-3 order-md-5 order-lg-5 "> BLOC DE DOCUMENTATION </div>
<div class="col-lg-6 col-md-8 col-sm-10 alert-info m-3 order-md-0 order-lg-0 "> 
{{form_start(ContenuForm)}}
<div class="invisble">{{ form_row(ContenuForm.section, {'value' : 'historique'}) }}</div>
{{ form_row(ContenuForm.titre) }}
{{ form_row(ContenuForm.sousTitre) }}
{{ form_row(ContenuForm.texte) }}
        <div class="col-lg-6">
            {{ form_row(ContenuForm.submit, { 'label' : 'Envoyer' } ) }}
        </div>
  {{form_end(ContenuForm)}}
      
</div>
</div>

<div class="row m-4 justify-content-center">
<table class="col-10 table table-hover">
<thead> <tr class="row" >
<th class="col-2">TITRE </th>
<th class="col-2">SOUS TITRE </th>
<th class="col-5"> TEXTE </th>
<th class="col-1"> STATUT </th>
<th class="col-1"> MODIFIER</th>
<th class="col-1"> SUPPRIMER</th>
</thead>
<tbody >
{% for historique in historiques %}
<tr class="row">
<td class="col-2"> {{historique.titre}} </td>
<td class="col-2"> {{historique.sousTitre}} </td>
<td class="col-5 overflow-auto" height="100"> {{historique.texte}} </td>
<td class="col-1"> {{historique.statut}} </td>
<td class="col-1"> <i class="fas fa-edit"></i> </td>
<td class="col-1"> <i class="fas fa-trash-alt"></i> </td>
</tr>
{% endfor %}

</tbody>
</table>
</div>

{% endblock %}