{% extends 'admin/baseadmin.html.twig' %}

{% block content %}


    <div class="row m-4 justify-content-center">
        <div class="col-lg-4 col-md-3 col-sm-10 m-3  order-lg-5 ">
            <div class="row alert-warning border border-warning rounded m-3 p-3">
                <div class="col-12">

                    <center>
                        <h1>
                            <i class="fas fa-info-circle"></i>
                        </h1>
                    </center>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-12"></div>
            </div>
        </div>


        <div class="col-lg-6 col-md-8 col-sm-10 m-3 order-lg-0 ">

            <div class="row">
                <div class="col-12 alert-info border border-info rounded m-3 p-3">
                    <h2>
                        Localisation
                    </h2>
                    <hr>
                    <p>
                        Ces éléments sont propres à votre entreprise et vous pemrettent de mettre en avant vos compétences, vos savoirs-faires, ainsi que les différentes localisations.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for localisation in localisations %}

                        <div class="row alert-info border border-info rounded text-info m-3 align-items-center">
                            <div class="col-10 p-2">
                                {{localisation.secteur}}</div>
                            <div class="col-2 border-left border-info text-center p-2">
                                <a class="text-danger h4" href="{{ path('localisation-delete', {id : localisation.id }) }}" onclick="return confirm('Etes-vous certain(e) de vouloir supprimer ?')">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    {% set totalLocalisations2 = totalLocalisations.0 %}

                    {% if totalLocalisations2.1 < 10 %}


                        {{ form_start(LocalisationForm) }}<div class="row alert-info border border-info rounded text-info m-3 align-items-center">
                            <div class="col-10">{{form_widget(LocalisationForm.secteur, { 'attr': {'class': 'input'}})}}</div>
                            <div class="col-2">
                                {{ form_row(LocalisationForm.submit, { 'label' : 'Envoyer', 'attr': {'class': 'btn btn-success text-white mt-3'}}) }}
                            </div>
                        </div>
                        {{ form_end(LocalisationForm) }}

                    {% else %}

                        Vous avez atteint la limite de 10 localisations autorisées, supprimez-en une pour pouvoir en créer une nouvelle.

                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
