{% extends 'base.html.twig' %}

{% block content %}
{{ include('./admin/navbaradmin.html.twig') }}

<div class="row mt-4 pt-4">
    <div class="col-md-6 col-sm-8 mx-auto alert-info border border-info rounded m-3 p-3"">
        <h2>
            Partenaires
        </h2>
        <hr>
        <p>
            Dans cette section, il est possible de modifier les informations relatives aux partenaires de l'entreprise afin de pouvoir les mettre à jour de façon aisée sur le site web.
        </p>
    </div>
</div>

<div class=" row m-4 justify-content-center">
        <div
            class="col-lg-4 col-md-3 col-sm-10 alert-warning border border-warning rounded m-3 p-3 order-md-5 order-lg-5 text-justify ">
            <center>
                <h1>
                    <i class="fas fa-info-circle"></i>
                </h1>
            </center>
            <hr>
            <p>Vous pouvez ajouter un nouveau partenaire grâce au formulaire sur la gauche. Tous les champs sont
                obligatoires. </p>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 alert-info m-3 order-md-0 order-lg-0 ">

            <h1>Ajout d'un partenaire</h1>
            <hr>
            {{ form_start(PartenairesForm) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(PartenairesForm.nomPartenaire, {'label' : 'Adresse url du site du partenaire *'}) }}
                </div>
                <div class="col-6">
                    {{ form_row(PartenairesForm.sitePartenaire, {'label' : 'Nom du partenaire *'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-10 mx-auto">
                    {{ form_row(PartenairesForm.file, {'label' : 'Logo du partenaire *',}) }}
                </div>
            </div>

            {{ form_row(PartenairesForm.submit, { 'label' : 'Envoyer', 'attr': {'class': 'col-12 btn btn-success'}})
            }}

            {{ form_end(PartenairesForm) }}
        </div>
    </div>



    <div class="row">
        <div class="col-md-10 mx-auto text-center">
            <div class="row text-center">
                {% for logo in logos %}
                <div class="card col-md-2 m-3">
                    <img class=" card-img-top" src="{{ asset('/photo/logos/' ~ logo.logo)  }}"
                        alt="logo de {{logo.nomPartenaire}}">
                    <div class=" card-block">
                        <a href="{{logo.sitePartenaire}}">{{logo.nomPartenaire}}</a>
                    </div>
                    <a class="card-footer bg-danger text-decoration-none text-light"
                        href="{{ path('delete_partenaire', {id : logo.id } ) }}"
                        onclick="return confirm('Etes-vous certain(e) de vouloir supprimer le partenaire ?')">
                        <i class="fas fa-trash-alt"></i> Supprimer
                    </a>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>



    {% endblock %}