{% extends 'base.html.twig' %}

{% block content %}
{{ include('./admin/navbaradmin.html.twig') }}

<div class="row mt-4 pt-4">
    <div class="col-10 mx-auto border border-info rounded p-3">
        <h2> Présensation de l'entreprise </h2>
        <hr>
        <p>Dans cette section, il est possible de modifier les informations relatives à l'entreprise afin de pouvoir les
            mettre à jour de façon aisée sur le site web. Changement d'adresse, de numéro de téléphone ou de mail ne
            sont plus un soucis. </p>

    </div>
</div>
<div class="row m-4 justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-10 alert-warning m-3 order-md-2 order-lg-2 "> BLOC DE DOCUMENTATION </div>
    <div class="col-lg-6 col-md-8 col-sm-10 alert-info m-3 order-md-1 order-lg-1 ">


        {{form_start(ContenuForm)}}
        <div style="display: none">
            <!-- On met en display none ces champs pour pouvoir y injecter des valeurs sans que l'utilisateur s'en rende compte /sans qu'il puisse y toucher. -->
            <!-- Comme on veut que ces textes soient pour la section "présentation" on injecte en dur la valeur "présentation" dans le champ "section" -->
            {{ form_row(ContenuForm.section, {'value' : 'presentation'}) }}
            <!-- Dans BaseController on crée une variable $date. Dedans on injecte des données selon la route sélectionée (update, delete, afficher...). On met ensuite cette variable en valeur du champ "dateAffichage" afin d'injecter ces données. (c'est ce qui nous permet de gérer le choix de l'affichage. CF. AdminController.-->
            {{ form_label(ContenuForm.dateAffichage) }}
            {{ form_widget(ContenuForm.dateAffichage, {'value': date}) }}
        </div>
        {{ form_row(ContenuForm.titre) }}
        {{ form_row(ContenuForm.sousTitre) }}
        {{ form_row(ContenuForm.texte) }}


        <div class="col-lg-6">
            <!-- Même principe que pour la variable $date, pour gérer le changement de label dans le bouton envoi selon la route dans laquelle on est -->
            {{ form_row(ContenuForm.submit, { 'label' : boutonenvoi } ) }}
        </div>
        {{form_end(ContenuForm)}}
    </div>
</div>

<div>
    <h1 class="text-center">Tableau de gestion des textes de présentation</h1>

    <div class="row m-4 justify-content-center">
        <table class="col-10 table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-2">TITRE </th>
                    <th class="col-2">SOUS TITRE </th>
                    <th class="col-5"> TEXTE </th>
                    <th class="col-1"> PUBLIER </th>
                    <th class="col-1"> MODIFIER</th>
                    <th class="col-1"> SUPPRIMER</th>
            </thead>

            <tbody>
                <!-- Pour afficher en premier le texte affiché, on ordonne nos résultats de notre boucle for par la date d'affichage en DESC. Pour cela on utilise l'extension twig sortbyfield : https://github.com/victorhaggqvist/Twig-sort-by-field/blob/master/src/SortByFieldExtension.php 
                On break le for et on récupère que le premier de la liste pour mettre un design spécial-->
                {% for presentation in presentations | sortbyfield('dateAffichage') | slice (0,1) %}
                <tr class="row alert-success">
                    <td class="col-2">
                        <h5>{{ presentation.titre }} </h5>
                    </td>
                    <td class="col-2">
                        {{ presentation.sousTitre }}
                    </td>
                    <td class="col-5 overflow-auto" height="100">
                        {{ presentation.texte }}
                    </td>
                    <td class=“col-1 text-center”> EN LIGNE <br>
                        <h1><i class="fas fa-globe-asia"></i></h1>
                    </td>

                    <td class="col-1">
                        <a href="{{ path('update_presentation', {id : presentation.id } ) }}">
                            <i class="fas fa-pen-alt"></i>
                        </a>
                    </td>
                    <td class="col-1">
                        <a href="{{ path('delete_presentation', {id : presentation.id } ) }}"
                            onclick="return confirm('Etes-vous certain(e) de vouloir supprimer le texte de présentation ?')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

                {% for presentation in presentations | sortbyfield('dateAffichage') | slice (1,50) %}
                <!-- On récupère le reste des textes et on les affiche à la suite dans le tableau -->
                <tr class="row">
                    <td class="col-2">
                        <h5>{{ presentation.titre }} </h5>
                    </td>
                    <td class="col-2">
                        {{ presentation.sousTitre }}
                    </td>
                    <td class="col-5 overflow-auto" height="100">
                        {{ presentation.texte }}
                    </td>
                    <td class="col-1">
                        <a href="{{ path('affichage_presentation', {id : presentation.id } ) }}">
                            <i class="fas fa-upload"></i>
                        </a>
                    </td>
                    <td class="col-1">
                        <a href="{{ path('update_presentation', {id : presentation.id } ) }}">
                            <i class="fas fa-pen-alt"></i>
                        </a>
                    </td>
                    <td class="col-1">
                        <a href="{{ path('delete_presentation', {id : presentation.id } ) }}"
                            onclick="return confirm('Etes-vous certain(e) de vouloir supprimer le texte de présentation ?')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}