{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

    <div class="row mt-4 pt-4">
        <div class="col-10col-md-6 col-sm-8 mx-auto alert-info border border-info rounded m-3 p-3">
            <h2>
                Réseaux
            </h2>
            <hr>
            <p>
                Ces éléments sont propres à votre entreprise et vous pemrettent de mettre en avant vos compétences, vos savoirs-faires, ainsi que les différentes localisations.
            </p>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <div class="col-lg-4 col-md-3 col-sm-10 alert-warning m-3  order-lg-5 ">
            BLOC DE DOCUMENTATION
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 border m-3 order-lg-0 ">
            {{ form_start(ReseauxForm) }}
            <h2 class="text-align-center">Réseaux</h2>

            {{ form_row(ReseauxForm.instagram, {'label' : 'Adresse url du profil Instagram'}) }}

            {{ form_row(ReseauxForm.facebook, {'label' : 'Adresse url de la page Facebook'}) }}

            {{ form_row(ReseauxForm.google, {'label' : 'Adresse url le la page Google'}) }}


            {{ form_row(ReseauxForm.submit, { 'label' : 'Envoyer', 'attr': {'class': 'col-12 btn btn-success'}}) }}

            {{ form_end(ReseauxForm) }}

        </div>
    </div>

{% endblock %}
