{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

<div class="row mt-4 pt-4">
    <div class="col-10col-md-6 col-sm-8 mx-auto alert-info border border-info rounded m-3 p-3">
        <h2> Spécificités</h2>
        <hr>
        <p> Ces éléments sont propres à votre entreprise et vous pemrettent de mettre en avant vos compétences, vos savoirs-faires, ainsi que les différentes localisations.  </p>
    </div>
</div>

<div class="row m-4 justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-10 alert-warning m-3  order-lg-5 "> BLOC DE DOCUMENTATION </div>
    <div class="col-lg-6 col-md-8 col-sm-10 border m-3 order-lg-0 ">
            {{ form_start(specificitesForm) }}
        <h2 class="text-align-center">Compétences</h2>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 alert-info my-4  ">
                {{ form_row(specificitesForm.competence1, {'label' : 'Compétence 1 *'}) }}
                {{ form_row(specificitesForm.competence2, {'label' : 'Compétence 2 *'}) }}
                {{ form_row(specificitesForm.competence3, {'label' : 'Compétence 3 *'}) }}
                {{ form_row(specificitesForm.competence4, {'label' : 'Compétence 4 *'}) }}
                {{ form_row(specificitesForm.competence5, {'label' : 'Compétence 5'}) }}
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 alert-info my-4 ">
                {{ form_row(specificitesForm.competence6, {'label' : 'Compétence 6'}) }}
                {{ form_row(specificitesForm.competence7, {'label' : 'Compétence 7'}) }}
                {{ form_row(specificitesForm.competence8, {'label' : 'Compétence 8'}) }}
                {{ form_row(specificitesForm.competence9, {'label' : 'Compétence 9'}) }}
                {{ form_row(specificitesForm.competence10, {'label' : 'Compétence 10'}) }}
            </div>
        </div>

        <h2 class="text-align-center">Localisations</h2>
        <div class="row text-center">
            <div class="col-lg-6 col-md-8 col-sm-8 alert-info my-4">
                {{ form_row(specificitesForm.localisation1, {'label' : 'Localisation 1 *'}) }}
                {{ form_row(specificitesForm.localisation2, {'label' : 'Localisation 2 *'}) }}
                {{ form_row(specificitesForm.localisation3, {'label' : 'Localisation 3 *'}) }}
                {{ form_row(specificitesForm.localisation4, {'label' : 'Localisation 4 *'}) }}
                {{ form_row(specificitesForm.localisation5, {'label' : 'Localisation 5 *'}) }}
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8 alert-info my-4">
                {{ form_row(specificitesForm.localisation6, {'label' : 'Localisation 6'}) }}
                {{ form_row(specificitesForm.localisation7, {'label' : 'Localisation 7'}) }}
                {{ form_row(specificitesForm.localisation8, {'label' : 'Localisation 8'}) }}
                {{ form_row(specificitesForm.localisation9, {'label' : 'Localisation 9'}) }}
                {{ form_row(specificitesForm.localisation10, {'label' : 'Localisation 10'}) }}
            </div>
        </div>

        <h2 class="text-align-center">Réseaux sociaux</h2>
        <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-10 alert-info my-3 order-md-0 order-lg-0 ">
                {{ form_row(specificitesForm.facebook) }}
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 alert-info my-3 order-md-0 order-lg-0 ">
                {{ form_row(specificitesForm.instagram) }}
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 alert-info my-3 order-md-0 order-lg-0 ">
                {{ form_row(specificitesForm.pageGoogle) }}
            </div>
        </div>

        {{ form_row(specificitesForm.submit, { 'label' : 'Envoyer', 'attr': {'class': 'col-12 btn btn-success'}}) }}

        {{ form_end(specificitesForm) }}

    </div>
</div>

{% endblock %}