{% extends 'base.html.twig' %}

{% block content %}

    <div class="row mt-4 pt-4">
        <div class="col-md-6 col-sm-8 mx-auto alert-info border border-info rounded m-3 p-3">
            <h2>
                Tarifs
            </h2>
            <hr>
            <center>
                <p>
                    Cette section vous permet faire une liste de vos prestations et tarifs.
                    <br>
                </p>
            </center>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <div class="col-lg-4 col-md-3 col-sm-10 alert-warning border border-warning rounded m-3 p-3  order-lg-5 text-justify">
            <center>
                <h1>
                    <i class="fas fa-info-circle"></i>
                </h1>
            </center>
            <hr>
            <center>Cette section permet de poster les prestations et tarifs sur votre entreprise.
            <br><br> <b>Les champs obligatoires sont : prestation et tarif de jour.  </b>
            <u>Par défaut, le tarif est standard.   </u>
            </center>

            <br><br><ul>
                <li class="mb-4">
                    <strong>MODIFIER :</strong>
                    Vous pouvez modifier une prestation en modifiant seulement l'intitulé, les prix de façon individuelle ou globale.
                </li>
                <li>
                    <strong>SUPPRIMER :</strong>
                    <span class="text-danger">
                        <i class="fas fa-exclamation-triangle"></i>
                        Action irréversible
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 border rounded m-3 p-3 order-lg-0 ">
        <h2> Gérer les tarifs  </h2><hr>
            {{form_start(TarifsForm)}}
            {{ form_row(TarifsForm.prestation, { 'label' : 'Prestation *' } ) }}

            {{ form_row(TarifsForm.tarif_jour, { 'label' : 'Tarif standard * ' } ) }}

            {{ form_row(TarifsForm.tarif_nuit, { 'label' : 'Tarif de nuit' } ) }}

            {{ form_row(TarifsForm.tarif_weekend, { 'label' : 'Tarif le week-end'} ) }}

            {{ form_row(TarifsForm.submit, { 'label' : boutonenvoi, 'attr' : {'class': 'col-12 btn btn-success'} } ) }}
            {{form_end(TarifsForm)}}

        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <table class="col-10 table">
            <thead>
                <tr class="row text-center">
                    <th class="col-4">
                        PRESTATION
                    </th>
                    <th class="col-2">
                        TARIF STANDARD
                    </th>
                    <th class="col-2">
                        TARIF NUIT</th>
                    <th class="col-2">
                        TARIF WEEK-END
                    </th>
                    <th class="col-1">
                        MODIFIER</th>
                    <th class="col-1">
                        SUPPRIMER</th>
                </tr>
            </thead>
            <tbody>
                <!-- Pour afficher en premier le texte affiché, on ordonne nos résultats de notre boucle for par la date d'affichage en DESC. Pour cela on utilise l'extension twig sortbyfield : https://github.com/victorhaggqvist/Twig-sort-by-field/blob/master/src/SortByFieldExtension.php 
                                On break le for et on récupère que le premier de la liste pour mettre un design spécial-->
                {% for tarif in tarifs %}
                    <!-- On récupère le reste des textes et on les affiche à la suite dans le tableau -->
                    <tr class="row">
                        <td class="col-4">
                            {{tarif.prestation}}
                        </td>
                        <td class="col-2 text-center">
                            {{tarif.tarifJour}} €
                        </td>
                        <td class="col-2 text-center">
                            {{tarif.tarifNuit}} €
                        </td>
                        <td class="col-2 text-center">
                            {{tarif.tarifWeekend}} €
                        </td>
                        <td class="col-1 text-center">
                            <a class="text-warning h3" href="{{ path('update_tarifs-admin', {id : tarif.id } ) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td class="col-1 text-center">
                            <a class="text-danger h3" href="{{ path('delete_tarifs-admin', {id : tarif.id } ) }}" onclick="return confirm('Etes-vous certain(e) de vouloir supprimer le texte de présentation ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
