<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta
        name="viewport" content="width=device-width"/>
        <!-- Link to the email's CSS, which will be inlined into the email -->
        <link rel="stylesheet" href="assets/css/foundation-emails.css">

    </head>

    <body>
        <!-- Wrapper for the body of the email -->
        <table class="body" data-made-with-foundation>
            <tr>
                <!-- The class, align, and <center> tag center the container -->
                <td class="float-center" align="center" valign="top">
                        Email envoyé par :
                        {{data.prenom}}
                        {{data.nom}}
                        {% if data.societe is null %}
                                {% else %}, société
                                {{data.societe}}
                        {% endif %}
                        {% if data.telephone is null %}
                                {% else %}, n°
                                {{data.telephone}}
                        {% endif %}


                        <div class="row">Email :
                            {{ data.email}}
                        </div>

                        <div class="row">Objet :
                            {{data.objet}}</div>
                        <div class="row">
                            <div class="col-3">Message:
                            </div>
                            <div class="col-8 offset-1">
                                {{data.message}}
                            </div>
                    </td>
                </td>
            </tr>
        </table>
    </body>
</html>
