<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <style>

            .sendby {
                background-color: #4CBF8E;
                color: white !important;
                text-align: center;
            }

            .addInfo {
                border-top: 3px solid #4CBF8E;
                 border-bottom: 3px solid #4CBF8E;
                 font-size: 1.5em;
                 padding: 1rem;
            }


            .borderInfo {
                border-bottom: 3px solid #4CBF8E;
                 padding: 1rem;
            }

             .sendby2 {
                background-color: orangered;
                color: white !important;
                font-size: 1.5em;
            }

            .lastInfo2 {
                border-bottom: 3px solid orangered;
                 font-size: 1.3em;
                 padding: 3rem;
            }

        </style>

    </head>

    <body>


{% if data.idMail == 'Prise-de-contact' %}


 <div class="sendby2">
    <center> <h1> Recontacter le client </h1></center>
    <hr>
       <center> <h2>    Mme / Mr 
            {{data.prenom}}
            {{data.nom}}
           </h2>
        </div></center>


                <div class="lastInfo2">
                    N° de téléphone :
                    {{data.telephone}}
                <br>
 Email :
            <span class='mail'>{{ data.email}}</span> </div>

{% else %}

 <div class="sendby">
    <center> <h1> Demandes d'informations  </h1></center>
    <hr><h2>
            Email envoyé par :
            {{data.prenom}}
            {{data.nom}}
            <br>
            Email :
            <span class='mail'>{{ data.email}}</span>
<br>
            {% if data.telephone is null %}
            {% else %}

                    N° de téléphone :
                    {{data.telephone}}

        {% endif %}</h2>
        </div>

        {% if data.societe is null %}
            {% else %}
                <div class="addInfo">
                    Société :
                    {{data.societe}}
                </div>

        {% endif %}

        

        <div class="row"><h3>Objet :
            {{data.objet}}
        </h3></div>
        <hr>

        <div class=" borderInfo">
            {{data.message}}
        </div>

{% endif %}
       
    </body>
</html>
