<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <style>

            .sendby {
                background-color: #4CBF8E;
                color: white !important;
                font-size: 1.5em;
            }

            .addInfo {
                border-top: 3px solid #4CBF8E;
                 font-size: 1.3em;
            }

            .lastInfo {
                border-bottom: 3px solid #4CBF8E;
                 font-size: 1.3em;
            }

            .borderInfo {
                border-bottom: 3px solid #4CBF8E;
            }

            a.mail { color: white!important;}

            a {
                color: white!important;
            }
        </style>

    </head>

    <body>

        <div class="sendby">
            Email envoyé par :
            {{data.prenom}}
            {{data.nom}}
            <br>
            Email :
            <span class='mail'>{{ data.email}}</span>
        </div>

        {% if data.societe is null %}
            {% else %}
                <div class="addInfo">
                    Société :
                    {{data.societe}}
                </div>

        {% endif %}

        {% if data.telephone is null %}
            {% else %}
                <div class="lastInfo">
                    N° de téléphone :
                    {{data.telephone}}
                </div>

        {% endif %}

        <div class="row">Objet :
            {{data.objet}}
        </div>
        <hr>

        <div class=" borderInfo">
            {{data.message}}
        </div>
    </body>
</html></body></html>
