<section>
    <div class="row">
        <div class="col-12 bottomdevis pb-4">
            <h2 class="text-center mt-3 mb-3"> Prenons contact ! </h2>
            <div class="row justify-content-center">
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="telto:{{entreprise.telephone}}" class="bg-primary btn btnrond text-light"><i class="fas fa-phone-alt"></i></a>
                    <br>
                    <a href="telto:{{entreprise.telephone}}" class="bg-primary btn text-light mt-4"> {{entreprise.telephone}} </a>
                </div>
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="mailto:{{entreprise.mailContact}}" class="bg-primary btn btnrond text-light"><i class="far fa-envelope"></i></a>
                    <br>
                    <a href="mailto:{{entreprise.mailContact}}" class="bg-primary btn text-light mt-4"> Contact </a>
                </div>
                <div class="col-md-3 text-center mt-3 mb-3">
                    <a href="mailto:{{entreprise.mailGerant}}" class="bg-primary btn btnrond text-light"><i class="fas fa-euro-sign"></i></a>
                    <br>
                    <a href="mailto:{{entreprise.mailGerant}}" class="bg-primary btn text-light mt-4"> Devis </a>
                </div>
            </div>
            <h4 class="mt-3 text-center"> Votre artisan se déplace dans les secteurs suivants:</h4>
            <hr>
            <div class="row justify-content-center mb-4">
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation1}}
                    <br>
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation2}} 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation3}}
                    <br>
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation4}} 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation5}}
                    <br>
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation6}} 
                </div>
                <div class="col-md-2 col-sm-10 localisation">
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation7}}
                    <br>
                    <i class="fas fa-map-pin"></i> - {{specificites.localisation8}}
                </div>

            </div>
        </div>
    </div>

</section>