<section>
    <div class="row bg-dark">
        <div class="col-12 mt-3 mb-3">
            <h3 class="text-center text-warning"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                    class="fas fa-star"></i> </h3>
            <h2 class="text-center text-light">Compétence , Suivi, Engagements </h2>
            <h3 class="text-warning text-center"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                    class="fas fa-star"></i> </h3>
            <div class="row">
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence1}}</div>
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence2}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence3}}</div>
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence4}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence5}}</div>
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence6}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence7}}</div>
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence8}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence9}}</div>
                <div class="col-md-2 col-sm-12 mx-auto text-light mt-4"> {{specificites.competence10}}</div>
            </div>
        </div>
    </div>

</section>