        <main class="section-bg">
                {# <svg version="1.1" id="bottomlightwhite" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1920 132.013" enable-background="new 0 0 1920 132.013" xml:space="preserve">
           <polygon id="XMLID_250_" points="1920,82.188 951,82.188 988.341,40.188 0,40.188 0,104.188 1920,104.188 "/>
           </svg> #}

               {% for svgTransi in svgTransis | sortbyfield('dateAffichage') | slice(0, 1) %}
    {{ svgTransi.bottomTrsW | raw}}
    {% endfor %}
           
            <div class="row mt-5 justify-content-center text-center">
                <div class="col-10 col-md-4 mt-5 bg-white text-justify p-5 textbox">
                    {% for historique in historiques | sortbyfield('dateAffichage') | slice(0, 1) %}
                        <h2>  {{historique.titre}} </h2> 
                        <br> 
                        <h3> {{historique.sousTitre}}</h3>
                        <p class="mt-5">{{historique.texte | raw}}</p>
                    {% endfor %}
                </div>

                <div class="col-10 col-md-3 offset-1 my-5 text-center align-self-center">
                    <div class="row mx-auto text-center h1">
                        <img src="{{asset('/images/logo.jpg')}}" class="img-fluid" />
                    </div>
                        <h2 class="my-4"> Appelez-nous</h2>
                        <a class="btn bg" href="telto:{{entreprise.telephone}}" alt="Numéro de téléphone"><h2>{{entreprise.telephone}}</h2></a>
                </div>
            </div>



        </main>