<!DOCTYPE html>
<html lang="fr">

    <head>
        {% for couleur in couleurs | sortbyfield('dateAffichage') | slice(0,1) %}
            {% set couleur = couleur.couleur %}

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta
            http-equiv="X-UA-Compatible" content="ie=edge">
            <!-- CSS BOOTSTRAP -->
            <link
            rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- CSS FONT-AWESOME -->
            <link
            rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
            <!-- CSS Structural -->
            <link
            rel="stylesheet" href="{{asset('/css/base.css')}}" type="text/css">
            <!-- CSS Gestion SVG -->
            <link
            rel="stylesheet" href="{{asset('/css/svg-design.css')}}" type="text/css">
            <!-- Feuille de style dynamique qui récupère le nom de la couleur du thème dans la BDD et permet de charger/changer la feuille de style gérant les couleurs -->
            <link rel="stylesheet" href="{{asset('/css/' ~ couleur ~ '.css')}}" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">


            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
            <script>
                $(document).ready(function () {
                    bsCustomFileInput.init()
                })
            </script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script>
                $("document").ready(() => {
                    $("#jsflash").delay(1500).animate({
                        opacity: 100
                    }, 1500, () => {
                        $("#jsflash").css('display', 'none');
                    });
                });
            </script>
            <title>
                MAQUETTE HTML - Electricien
            </title>
        {% endfor %}
    </head>

    <body>
        {% for message in app.flashes('success') %}
            {# Message de réussite d'une action  #}
            <div id="jsflash" class="alert alert-success m-0 p-0 text-center">
                {{ message | raw }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            {# Message d'erreur d'une action #}
            <div id="jsflash" class="alert alert-danger m-0 p-0 text-center">
                {{ message | raw }}
            </div>
        {% endfor %}
        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg sticky-top row bg p-3 display-none-small">
                <div class="col-12 col-md-4">
                    <h3 class="pl-5"><img src="{{asset('/images/logo.jpg')}}" alt="logo de l'etp" class="img-fluid"></h3>
                </div>
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-angle-double-down"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto text-center">
                        <li class="nav-item nav-ind mx-3" >
                            <a class="nav-link font-weight-bold" href="{{path('index')}}">
                                <i class="fas fa-home"></i>
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item nav-real mx-3">
                            <a class="nav-link font-weight-bold" href="{{path('realisations')}}">
                                <i class="far fa-lightbulb"></i>
                                Réalisations
                            </a>
                        </li>
                        <li class="nav-item nav-real mx-3">
                            <a class="nav-link font-weight-bold" href="{{path('tarifs')}}">
                                <i class="fas fa-tag"></i>
                                Tarifs
                            </a>
                        </li>
                        <li class="nav-item nav-cont mx-3">
                            <a class="nav-link font-weight-bold" href="{{path('contact')}}">
                                <i class="fas fa-phone-alt"></i>
                                Contact
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN')%}
                            <li class="nav-item nav-cont mx-3">
                                <a class="nav-link font-weight-bold" href="{{path('admin')}}">
                                    <i class="fas fa-user-cog"></i>
                                    ESPACE ADMIN
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-2 text-right pr-4 justify-content-center text-center">
                    {% if reseaux.instagram is not null %}
                        <a href="{{reseaux.instagram}}" alt="Instagram" class="smallicons h2 p-2">
                            <i class="fab fa-instagram"></i>
                        </a><br>
                    {% endif %}
                    {% if reseaux.facebook is not null %}
                        <a href="{{reseaux.facebook}}" alt="Facebook" class="smallicons h2 p-2">
                            <i class="fab fa-facebook-square"></i>
                        </a><br>
                    {% endif %}
                    {% if reseaux.twitter is not null %}
                        <a href="{{reseaux.twitter}}" alt="Twitter" class="smallicons h2 p-2">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    {% endif %}
                </div>
            </nav>

            <nav class="navbar navbar-expand-lg sticky-top row bg p-5 display-none-large justify-content-around">
                <div class="col-7 py-3">
                    <h3><img src="{{asset('/images/logo.jpg')}}" alt="logo de l'etp" class="img-fluid"></h3>
                </div>
                <button class="col-2 offset-1 navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto text-center">
                        <li class="nav-item nav-ind mx-3">
                            <a class="nav-link font-weight-bold border-bottom" href="{{path('index')}}">
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item nav-real mx-3">
                            <a class="nav-link font-weight-bold border-bottom" href="{{path('tarifs')}}">
                                Tarifs
                            </a>
                        </li>
                        <li class="nav-item nav-cont mx-3">
                            <a class="nav-link font-weight-bold border-bottom" href="{{path('contact')}}">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>


            <div class="link-box  align-items-center display-none-small">
                <a href="telto:0123456789" alt="Nous joindre par téléphone">
                    <div class="link-item">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                </a>
                <a href="mailto:mail@mail.com" alt="Nous contacter par mail">
                    <div class="link-item">
                        <i class="far fa-envelope"></i>
                    </div>
                </a>
                <a href="google.com" alt="Laisser un avis sur Google">
                    <div class="link-item">
                        <i class="far fa-thumbs-up"></i>
                    </div>
                </a>
            </div>

            <div class="row justify-content-center">
                <div class="col-2 link-box1  display-none-large">

                    <a href="mailto:mail@mail.com" alt="Nous contacter par mail">
                        <div class="link-item1 bg1">
                            <i class="far fa-envelope"></i>
                        </div>
                    </a>

                </div>

                <div class="col-2 offset-8 link-box2 text-right  display-none-large">

                    <a href="telto:0123456789" alt="Nous joindre par téléphone">
                        <div class="link-item2 bg1">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                    </a>

                </div>
            </div>
            

            {# Ici, on ajoute le contenu de façon dynamique  #}
            {% block content %}{% endblock %}


            <footer class="bg3 display-none-small">
                <div class="informations p-5">
                    <div class="row justify-content-center">

                        <div class="col-10 col-md-4">
                            <h3>{{entreprise.nom}}
                            </h3>
                            <br>
                            {{entreprise.adresse}}
                            <br>
                            {{entreprise.cp}}
                            {{entreprise.ville}}
                            <br>
                            <a href="telto:{{entreprise.telephone}}" class="footertel">
                                {{entreprise.telephone}}</a>
                            <br>
                            <a href="mailto:{{entreprise.mailContact}}" class="footermail">
                                {{entreprise.mailContact}}</a>
                        </div>
                        <div class="col-10 col-md-3">
                            <table class="p-3">
                                {% for horaire in horaires %}
                                    <tr class="p2 align-items-center" style="border-bottom: 1px solid lightgrey;">
                                        <td class="pr-3">
                                            <b>
                                                {{horaire.jour}}
                                            </b>
                                        </td>
                                        <td>
                                            {% if horaire.debutPause is not null %}
                                                {{horaire.ouverture |date('H:i')}}
                                                -
                                                {{horaire.debutPause |date('H:i')}}
                                                <br>
                                                {{horaire.finPause |date('H:i')}}
                                                -
                                                {{horaire.fermeture |date('H:i')}}
                                            {% else %}
                                                {{horaire.ouverture |date('H:i')}}
                                                -
                                                {{horaire.fermeture |date('H:i')}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-10 col-md-3 justify-content-center">

                            <div class="row justify-content-center">
                                <div class="col-10 text-center">
                                    {% if reseaux.google is not null %}
                                        <a href="{{reseaux.google}}" alt="Avis Google">
                                            <div class="btn bg1 h2 p-3">
                                                Laissez votre avis sur Google
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10 text-center">
                                    {% if reseaux.instagram is not null %}
                                        <a href="{{reseaux.instagram}}" alt="Instagram" class="icons p-2" target="blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    {% endif %}
                                    {% if reseaux.facebook is not null %}
                                        <a href="{{reseaux.facebook}}" alt="Facebook" class="icons p-2">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    {% endif %}
                                    {% if reseaux.twitter is not null %}
                                        <a href="{{reseaux.twitter}}" alt="twitter" class="icons p-2">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="copyright mt-2 pl-3 bg1 py-3">Copyright © 2019 <span class="mx-3">|</span> {{entreprise.nom}}<span class="mx-3">|</span><a href="{{path('mentions')}}" class="copyright-a py-3">Mentions légales & CGU </a>
                </div>
            </footer>


            <footer class="bg2 display-none-large">
                <div class="row bg3 text-center mt-1">
                    <div class="col-10 col-md-3 py-5 mx-auto">
                        <h2>
                            Horaires
                        </h2>
                        <table class="p-3 pt-5 mx-auto">
                            {% for horaire in horaires %}
                                <tr class="p2 align-items-center" style="border-bottom: 1px solid lightgrey;">
                                    <td class="pr-3">
                                        <b>
                                            {{horaire.jour}}
                                        </b>
                                    </td>
                                    <td>
                                        {% if horaire.debutPause is not null %}
                                            {{horaire.ouverture |date('H:i')}}
                                            -
                                            {{horaire.debutPause |date('H:i')}}
                                            /
                                            {{horaire.finPause |date('H:i')}}
                                            -
                                            {{horaire.fermeture |date('H:i')}}
                                        {% else %}
                                            {{horaire.ouverture |date('H:i')}}
                                            -
                                            {{horaire.fermeture |date('H:i')}}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="informations p-5">
                    <div class="row justify-content-center">

                        <div class="col-11 mx-auto">
                            <h4>{{entreprise.nom}}
                            </h4>
                            <br>
                            {{entreprise.adresse}}
                            <br>
                            {{entreprise.cp}}
                            {{entreprise.ville}}
                            <br>
                            <a href="telto:{{entreprise.telephone}}" class="footertel">
                                {{entreprise.telephone}}</a>
                            <br>
                            <a href="mailto:{{entreprise.mailContact}}" class="footermail">
                                {{entreprise.mailContact}}</a>
                        </div>
                    </div>
                </div>

                <div class="copyright mt-2 bg1 p-3">Copyright © 2019{{entreprise.nom}}|<a href="{{path('mentions')}}" class="copyright-a">Mentions légales & CGU </a>
                </div>
            </footer>
        </div>
        {% block javascript %}{% endblock %}
    </body>

</html>
